/* FOOTER */
.footer {
  background-color: lightgray;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 425px) {
    flex-direction: row;
  }

  .nav__link {
    color: #5f6367;
    font-size: 14px;
  }
}
