header {
  background-color: white;
}

.nav {
  &__ul {
    justify-content: flex-end;
    margin-right: 1em;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__link {
    padding: 1em;
    text-decoration: none;
    color: black;

    &--login {
      background-color: #4285f4;
      padding: 0.4em 1em;
      color: white;
      margin-left: 1em;
    }
  }
}
